.form-group {
    margin: 0 auto;
  }
  
  body {
    font-family: sans-serif;
    size: 1rem;
    color: white;
    font-weight: light;
  }
  
  .form-group {
  background: rgb(2,0,36);
  background: linear-gradient(90deg, rgba(2,0,36,1) 29%, rgba(6,84,170,1) 56%, rgba(9,9,121,1) 97%, rgba(0,212,255,0.2049194677871149) 98%);
  }
  
  survey-form {
    display: block;
    background: 68a4e8;
    margin: auto;
    width: 50%;
    border: 3px solid green;
    padding: 10px;
  }